.main-followings {
  max-width: 600px;
  margin: 2rem auto;
}
.main-followings button {
  color: var(--white-color);
  padding: 0.2rem 1rem;
  margin-left: auto;
  outline: none;
  border: none;
  cursor: pointer;
}
.main-followings .btn-follow {
  background: var(--primary-color);
}
.main-followings .btn-remove {
  background: var(--red-color);
}
