.following-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.following-card > .btn-follow {
  background: none;
  outline: none;
  font-weight: bold;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
.following-card h5:first-child {
  border-bottom: 1.2px solid transparent;
}
.following-card h5:first-child:hover {
  border-color: var(--black-color);
  cursor: pointer;
}
