.main-profile-page {
  max-width: 1000px;

  margin: 2rem auto;
}
.profile-section {
  margin: auto;
  width: 31.25rem;
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 2.5rem;
}

.profile-stats > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.main-profile-page .hr-line {
  margin-top: 1rem;
}
.tab-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.tab-actions button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  /* border-bottom: 1.5px solid transparent; */
  padding: 0.5rem 0;
  /* font-weight: bold; */
}

.tab-actions button.active-tab {
  /* border-color: var(--primary-color); */
  color: var(--primary-color);
}
.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media only screen and (max-width: 450px) {
  .main-profile-page {
    padding: 1rem;
  }
  .posts-container {
    grid-template-columns: 1fr;
  }
  .tab-actions {
    padding: 1rem 0;
  }
  .tab-actions button,
  .admin-actions button {
    font-size: 1.5rem;
  }
}
