.change-password-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.change-password-form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--grey-color);
}
.form__row {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 1rem;
  align-items: center;
}
.change-password-form > div:nth-child(3) {
  margin-top: 1rem;
}
.change-password-form label {
  font-size: 1rem;
}
